@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.header {
  background-color: #2196F3;
}

.App-link {
  color: #09d3ac;
}

.ant-layout-header h2 {
  color: #ffffff;
  text-align: center;
  margin: 10px;
}

.content-body {
  background: #fff;
  padding: 24px;
  min-height: calc(100vh - 130px);
  margin-left: 200px;
}

.breadcrumb {
  padding: 0 30px;
  margin: 16px 0;
}

.container {
  margin: 0 30px;
}

.list-people {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.result-search {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 50px
}

.result-search-image {
  margin: 15px 15px 10px 0px;
  position: relative;
  cursor: pointer;
}

.person {
  margin-right: 15px;
}

.icon-select {
  position: absolute;
  color: #1faf09;
  background: #fff;
  right: 0;
}

.input-name{
  text-align: center;
}

.btn-submit-name{
  margin-top: 15px;
}

.logo{
  height: 64px;
    color: #fff;
    text-align: center;
    line-height: 64px;
    font-size: 18px;
    text-transform: uppercase;
}

.hearder{
  padding: 0 15px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: #fff;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar{
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  background-color: #FAFAFA;
  border-right: 1px solid #e8e8e8;
}

.sidebar-menu{
  background-color: #FAFAFA;
  border-right: none;
}